{{ ansible_managed | comment }}

# Labels for Traefik, Watchtower, and Autoheal
#   (docker compose ignores fields that start with `x-`. So we can use them to
#    define reusable fragments with `&anchors`. See:
#    https://docs.docker.com/compose/compose-file/11-extension/ )
x-labels: &base_labels
{% if service_cfg.traefik == true %}
      traefik.enable: "true"
      traefik.docker.network: "traefik_default"
      traefik.http.services.{{ service_cfg.name }}.loadbalancer.server.port: "{{ service_cfg.port }}"
      traefik.http.routers.{{ service_cfg.name }}_web.EntryPoints: "web-secure"
      traefik.http.routers.{{ service_cfg.name }}_web.rule: "Host(`{{ service_cfg.domain }}`)"
{% if service_cfg.external is not defined or service_cfg.external == false %}
      traefik.http.routers.{{ service_cfg.name }}_web.middlewares: "internal-ips-only@file"
{% endif %}
      traefik.http.routers.{{ service_cfg.name }}_web.service: "{{ service_cfg.name }}"
      traefik.http.routers.{{ service_cfg.name }}_web.tls: "true"
      traefik.http.routers.{{ service_cfg.name }}_web.tls.certresolver: "default"
{% endif %}
{% if service_cfg.watchtower is defined and service_cfg.watchtower == true %}
      com.centurylinklabs.watchtower.enable: "true"
{% endif %}
{% if service_cfg.autoheal is defined and service_cfg.autoheal == true %}
      autoheal: "true"
{% endif %}

# Reusable default networks configuration to ensure container is part of both
# the traefik network and the default network of this compose file
x-networks: &base_networks
  default:
  traefik_net:
    aliases:
      - {{ service_cfg.name }}

# The main Docker Compose file
{{ lookup('template', 'docker-compose.yml.j2') }}

{% if service_cfg.skip_network_definition is not defined or service_cfg.skip_network_definition == false %}
# Access the traefik-network
networks:
  traefik_net:
    external:
      name: traefik_default
{% endif %}